#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.liveGradInput .MuiButtonBase-root:disabled {
  background-color: #929292;
}

.liveGradInput .MuiButtonBase-root {
  margin: 5px;
  width: fit-content;
}

.liveGradInput {
  background: peachpuff;
    padding: 30px;
    border-radius: 20px;
}

.appContainer {
  display: flex;
}


/* digit */
.digitCanvas {
  width: 60px;
  height: 60px;
}